* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

#main {
  width: 626px;
  margin: 64px auto;
}

#main img {
  margin-bottom: 32px;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  color: #3f3d56;
  font-size: 32px;
  margin-bottom: 16px;
}

h1 span {
  color: #ee24ff;
  font-weight: bold;
}

p {
  font-size: 15px;
  color: #828282;
  width: 540px;
  margin: 0 auto;
}

p span {
  color: #3f3d56;
  font-weight: bold;
}

#main p + p {
  margin-top: 32px;
}

#footer {
  margin-bottom: 40px;
}

#footer #line {
  width: 391px;
  height: 0px;
  border: 1px solid #eceff2;
  margin: 0 auto 16px;
}

#footer a {
  font-weight: bold;
  color: #3f3d56;
  text-decoration: none;
}

#footer a + a {
  margin-left: 42px;
}
